footer {
  display: flex;
  justify-content: space-between;
  height: 72px;
  width: 100%;
  padding: 24px 32px;
}
footer div {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (width < 44em ){
  footer{
    display: grid;
    grid-template-columns: 1fr 2fr;

    gap: 16px;
    
    font-size: 14px;
  }
}
