
header {
  height: 240px;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.user-about {
  display: flex;
  width: 45%;
  gap: 32px;
}
.user-about img{
  height: 176px;
  width: 176px;
  border-radius: 100%;
  object-fit: cover;
}

.user-description {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 8px;
}
.user-description h1{
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  color: var(--text-color-primary);
}
.user-description p{
  height: 176px;
  text-align: justify;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-color-secondary);
}
.user-info {
  align-self: center;  
}
.user-info ul{
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.user-info ul li {
  display: flex;
  gap: 8px;
  align-items: center;
}