.user-profile{
  display: flex;
  padding: 32px;
  justify-content: space-between;
}
.user-about {
  display: flex;
  width: 592px;
  gap: 32px;
}
.user-about img{
  height: 176px;
  border-radius: 100%;
}
.user-description h1{
  font-weight: bold;
  font-size: 32px;
  line-height: 125%;
  color: var(--text-color-primary);
}
.user-description p{
  height: 176px;
  border-radius: 100%;
  text-align: justify;
  font-size: 14px;
  line-height: 170%;
  color: var(--text-color-secondary);
}
.user-description {
  display: flexbox;
  gap: 8px
}

.user-photogallery {
  display: grid;
  grid-template-columns: 286px 286px 286px 286px;
  align-items: space-between;
  gap: 24px;
  padding: 24px 32px;
}
.user-photogallery img {
  height: 286px;
}
